<h1>書籍一覧</h1>

<table>
  <thead>
    <tr>
      <th>名前</th>
      <th>著者</th>
      <th>ISBN-13</th>
      <th>所有者</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @media.each do |medium| %>
      <tr>
        <td><%= medium.name %></td>
        <td><%= medium.auhter %></td>
        <td><%= medium.isbn13 %></td>
        <td><%= medium.owner.name %></td>
        <td><%= link_to '詳細', medium %></td>
        <td><%= link_to '借りる', medium %></td>
        <% if medium.owner == current_user %>
          <td><%= link_to '編集', edit_medium_path(medium) %></td>
          <td><%= link_to '削除', medium, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% else %>
          <td></td>
          <td></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to '書籍の新規登録', new_medium_path %>
