<p>
  <strong>Name:</strong>
  <%= @medium.name %>
</p>

<p>
  <strong>Auhter:</strong>
  <%= @medium.auhter %>
</p>

<p>
  <strong>Isbn13:</strong>
  <%= @medium.isbn13 %>
</p>

<p>
  <strong>Owner:</strong>
  <%= @medium.owner_id %>
</p>

<%= link_to 'Edit', edit_medium_path(@medium) %> |
<%= link_to 'Back', media_path %>
